CLIENT_ID=
CLIENT_SECRET=
SPOTIFY_USERNAME=
SCOPE=user-read-private user-top-read user-library-read
REDIRECT_URI=http://localhost:5000/login
DB_NAME=spotify_organizer
URI_DB=mongodb://mongo:27017/spotify_organizer
